.about {
  .about__area {
    display: flex;
    align-items: flex-start;

    @include screen-max-640 {
      flex-direction: column;
      align-items: center;
    }

    >img {
      margin-top: 40px;
      margin-right: 60px;

      @include screen-max-1023 {
        width: 170px;
      }

      @include screen-max-991 {
        width: 150px;
        margin-right: 40px;
      }

      @include screen-max-640 {
        margin: 0 0 32px 0;
      }
    }

    .name {
      font-size: 30px;

      @include screen-max-1799 {
        font-size: 24px;
      }

      @include screen-max-991 {
        font-size: 22px;
      }

      @include screen-max-640 {
        text-align: center;
      }
    }

    .text {
      margin-top: 14px;
      font-size: 14px;
      line-height: 160%;
      color: var(--black100);

      @include screen-max-1799 {
        &:not(.sub__title__text) {
          font-size: 12px;
        }
      }

      @include screen-max-991 {
        margin-top: 8px;

        &.sub__title__text {
          font-size: 12px;
        }

        @include screen-max-640 {
          &.t__center__m {
            text-align: center;
          }
        }
      }
    }

    .skills {
      display: flex;
      margin-top: 16px;

      @include screen-max-767 {
        flex-direction: column;
        // align-items: center;
      }

      ul {
        display: flex;
        padding: 8px 0 0 36px;
        flex-wrap: wrap;

        @include screen-max-991 {
          padding: 8px 0 0 20px;
        }

        @include screen-max-767 {
          padding: 8px 0 0 0;
        }

        @include screen-max-640 {
          padding-left: 0;
          justify-content: center;
        }
      }

      li {
        margin-right: 20px;
        text-align: center;

        @include screen-max-500 {
          margin-right: 12px;
        }

        &:last-child {
          margin-right: 0;
        }

        .text {
          margin-top: 5px;
          font-size: 12px;

          @include screen-max-991 {
            font-size: 11px;
          }

          @include screen-max-500 {
            font-size: 10px;
          }
        }

        @include screen-max-1799 {
          img {
            width: 34px;
            height: 34px;

            @include screen-max-991 {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
  }
}