.education {
  .title__area {
    @include flex-end;
  }

  .edu__list {
    display: flex;
    flex-wrap: wrap;

    @include screen-max-767 {
      flex-direction: column;
    }

    li {
      width: 50%;
      margin-bottom: 50px;

      @include screen-max-1799 {
        margin-bottom: 30px;
      }

      @include screen-max-767 {
        width: 100%;
      }

      &:nth-child(odd) {
        padding-right: 32px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        img {
          margin-top: 20px;
        }
      }
    }
  }

  .list__area {
    display: flex;
    align-items: flex-start;

    img {
      margin-right: 40px;

      @include screen-max-1799 {
        width: 50px;
        margin-right: 24px;
      }

      @include screen-max-991 {
        width: 44px;
      }

      @include screen-max-500 {
        width: 40px;
        margin-right: 18px;
      }
    }

    .text__area {
      padding-top: 8px;

      .text__title {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: var(--black100);

        @include screen-max-1799 {
          font-size: 18px;
        }

        @include screen-max-991 {
          font-size: 16px;
        }

        @include screen-max-500 {
          font-size: 14px;
        }

        &:after {
          display: block;
          content: "";
          left: 0;
          bottom: 0;
          width: 24px;
          height: 2px;
          background: var(--black100);
        }
      }

      .text {
        margin-top: 12px;
        font-size: 12px;
        color: var(--black300);
      }
    }
  }
}