.education {
  .title__area {
    @include flex-end;
  }

  .edu__list {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      margin-bottom: 50px;

      &:nth-child(3),
      &:nth-child(4) {
        img {
          margin-top: 20px;
        }
      }
    }
  }

  .list__area {
    display: flex;
    align-items: flex-start;

    img {
      margin-right: 40px;
    }

    .text__area {
      padding-top: 8px;

      .text__title {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: var(--black100);

        &:after {
          display: block;
          content: "";
          left: 0;
          bottom: 0;
          width: 24px;
          height: 2px;
          background: var(--black100);
        }
      }

      .text {
        margin-top: 12px;
        font-size: 12px;
        color: var(--black300);
      }
    }
  }
}