.intro__space {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 160px);
}

.intro {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.intro__inner {
  @include position-center;

  h3 {
    font-size: 45px;
    color: var(--black100);
  }

  p {
    position: relative;
    font-size: 32px;
    color: var(--black100);

    @keyframes blink {
      0% {
        opacity: 1
      }

      50% {
        opacity: 0
      }

      100% {
        opacity: 1
      }
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      right: -14px;
      bottom: 2px;
      width: 30px;
      height: 4px;
      background: var(--black100);
      animation: blink 1s infinite;
    }
  }
}