@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-size-none {
  flex-grow: 0;
  flex-shrink: 0;
}

// 중앙 정렬
@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


@mixin desktop {
  @media screen and (max-width: 1800px) {
    @content;
  }
}

@mixin non-desktop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// @mixin non-desktop {
//   @media screen and (max-width: 1023px) {
//     @content;
//   }
// }